@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  color: var(--text-color);
}
:root {
  --main-color: #bc9667;
  --btn-hover-color: #9c794e;
  --second-color: #edeae3;
  --bg-color: #fff;
  --text-color: #1b1b1b;
}
body {
  overflow-x: hidden;
}
header {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  margin: auto;
  user-select: none;
  color: var(--second-color);
  font-weight: 600;
  z-index: 999;
}
#menu {
  display: none;
}

.line {
  width: 0;
  height: 5px;
  margin: 6px 0;
  padding: 0 20px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
}

.logo {
  cursor: pointer;
}
#nav-bar {
  display: inline-flex;
  justify-content: center;
}

.bgH {
  background-color: var(--btn-hover-color);
}
#nav-bar a {
  padding: 8px 25px;
  border-radius: 3px;
  color: var(--second-color);
}
#nav-bar a:hover,
header span:hover {
  background-color: var(--main-color);
  transition: 0.4s linear;
}
header span {
  text-align: center;
  cursor: pointer;
  font-size: 0.8125em;
  border-radius: 8px;
  padding: 2px 5px;
}
header span p {
  color: var(--second-color);
}
section,
footer {
  padding: 40px 90px;
  margin: auto;
}

#home {
  background-image: url(/assets/images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  display: grid;
  grid-template: auto / 1fr 1fr;
  align-items: center;
}

.home-text h1 {
  color: var(--main-color);
  font-size: 3em;
}
.home-text p {
  color: var(--second-color);
  padding-top: 20px;
}

.home-main img {
  width: 100%;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 4px;
  background-color: var(--main-color);
  color: var(--second-color);
  user-select: none;
  margin: 10px 0;
}
.btn:hover {
  background-color: var(--btn-hover-color);
}

#about {
  display: grid;
  grid-template: auto/ 1fr 1fr;
  gap: 30px;
}

.about-img img {
  width: 100%;
  border-radius: 10px;
}

.about-text h2 {
  font-size: 1.875em;
  padding-top: 10px;
}
.about-text p {
  padding: 10px 0;
}

#shop h2,
#customers h2 {
  padding: 0px 0 20px 0;
  font-size: 1.875em;
  text-align: center;
}

.shop-items {
  display: grid;
  align-items: center;
  grid-template: auto auto/ 1fr 1fr 1fr;
  gap: 18px;
}
.shop-item p {
  font-size: 1.1em;
  font-weight: 600;
}
.shop-item {
  border: 2px solid var(--btn-hover-color);
  border-radius: 8px;
  text-align: center;
  padding: 15px 10px;
  box-shadow: 0px 10px 10px #c5c5c5;
}
.shop-item img {
  border-radius: 8px;
  transform: scale(0.9);
}
.add {
  border: 1px solid var(--btn-hover-color);
  cursor: pointer;
}
.add:hover {
  background-color: var(--btn-hover-color);
  color: var(--bg-color);
}
.value {
  background-color: var(--btn-hover-color);
  color: var(--bg-color);
}
.value,
.add {
  display: inline-block;
  margin: 0 3px;
  margin-top: 15px;
  border-radius: 3px;
  padding: 3px 10px;
}

.customers-items {
  display: grid;
  grid-template: auto/ 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}
.customers-item {
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}
.customers-item:hover {
  background-color: var(--second-color);
}
.customers-item span {
  color: var(--main-color);
  font-size: 1.5em;
  padding: 20px 0;
}
.customers-item p {
  font-size: 0.9375em;
  text-align: center;
  padding: 5px 0;
}
.customers-item h4 {
  padding: 5px 0;
  font-size: 1.2em;
  font-weight: 600;
}
.customers-img {
  border-radius: 50%;
}
footer {
  display: grid;
  grid-template: auto/ repeat(4, 1fr);
}
.box h3 {
  font-weight: 600;
  font-size: 1.1875em;
  padding-bottom: 5px;
}
.box p {
  font-size: 12px;
}
.box p,
.box h3 {
  padding-bottom: 10px;
}

.box p,
.box li {
  font-size: 14px;
}
#icons a {
  display: inline-flex;
  border-radius: 5px;
  padding: 0 5px 0 0;
}
footer li {
  font-size: 0.75em;
}
footer li:hover {
  color: var(--main-color);
}
#coffe li {
  padding-bottom: 5px;
}

@media (max-width: 1024px) {
  #home {
    grid-template: auto/ auto auto;
  }
  .home-text h1 {
    font-size: 2.3em;
  }
  .home-text p {
    font-size: 0.875em;
    padding-bottom: 30px;
  }
  .shop-items {
    grid-template: auto auto auto/ auto auto;
  }
  .shop-item {
    padding: 20px 30px;
  }
  .add,
  .value {
    font-size: 0.875em;
  }
}
@media (max-width: 945px) {
  header span {
    display: none;
  }

  #menu {
    display: block;
    cursor: pointer;
  }

  #nav-bar {
    display: block;
    position: absolute;
    top: 75px;
    right: 0px;
    height: 0px;
    width: 100vw;
    text-align: center;
    z-index: 1000;
    visibility: hidden;
  }
  #nav-bar.active a {
    display: block;
    transition: 0.5s;
    padding: 30px 0;
    background-color: var(--btn-hover-color);
    visibility: visible;
    border-bottom: 1px solid #b89060;
    border-radius: 0;
  }
  #nav-bar.active a:hover {
    background-color: var(--main-color);
  }
  #home {
    grid-template: auto auto/ auto;
    align-items: center;
    text-align: center;
  }
  .home-text {
    margin-top: 80px;
  }
  .home-text h1 {
    padding: 30px 0 0px 0;
    font-size: 3em;
  }
  .home-main img {
    width: auto;
  }
  #about {
    grid-template: auto auto/ 1fr;
  }
  .customers-item span {
    font-size: 1em;
  }
  .customers-item p {
    font-size: 0.6em;
  }
  .customers-item h4 {
    font-size: 0.875em;
  }
  footer {
    grid-template: repeat(2, auto) / 1fr 1fr;
    text-align: center;
  }
  .box {
    padding: 20px 0;
  }
}
@media (max-width: 767px) {
  header {
    padding: 10px 50px;
  }
  .home-text h1 {
    font-size: 3em;
    word-wrap: break-word;
  }
  .home-text p {
    font-size: 1em;
  }
  #home {
    overflow-x: hidden;
    grid-template: auto;
  }
  .home-main img {
    width: 100%;
  }
  .shop-items {
    grid-template: repeat(6, auto) / auto;
  }
  .customers-items {
    grid-template: repeat(3, auto) / auto;
  }
  footer {
    grid-template: auto / 1fr;
    text-align: center;
  }
}
@media (max-width: 425px) {
  header {
    padding: 10px 20px;
  }
  section,
  footer {
    padding: 40px;
  }
  .home-text h1 {
    font-size: 1.875em;
  }
  .home-text p,
  .about-text p {
    font-size: 0.875em;
  }
  .shop-item {
    padding: 20px 0;
  }
  .add,
  .value {
    font-size: 0.75em;
  }
}
